.about-company {
  position: relative;
  padding-top: 25px;
  padding-right: $desktop-flatten-padding + 5px;
  padding-bottom: 110px;
  padding-left: 375px;
  color: $description-font-color;
  background-repeat: no-repeat;
  background-position: left 12% top 30px;
  background-size: 14.5% 72%;

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: $second-font;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
  }

  p {
    margin-top: 0;
    margin-bottom: 22px;
  }

  p:last-of-type {
    margin-bottom: 40px;
  }
}

.no-webp .about-company {
  background-image: url("../img/date-desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/date-desktop@2x.jpg");
  }
}

.webp .about-company {
  background-image: url("../img/date-desktop.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/date-desktop@2x.webp");
  }
}

@media (max-width: $content-width) {
  .about-company {
    padding-left: 24%;
    padding-right: 12.6%;
  }
}

@media (max-width: $desktop-width) {
  .about-company {
    padding-top: 2.2%;
    padding-right: 3%;
    padding-bottom: 10.6%;
    padding-left: 210px;
    background-size: 240px 362px;
    background-position: left top 18px;

    h2 {
      margin-bottom: 4.8%;
      font-size: 32px;
      line-height: 140.62%;
    }

    p {
      margin-bottom: 3.5%;
    }

    p:last-of-type {
      margin-bottom: 8%;
    }
  }

  .no-webp .about-company {
    background-image: url("../img/date-tablet.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/date-tablet@2x.jpg");
    }
  }

  .webp .about-company {
    background-image: url("../img/date-tablet.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/date-tablet@2x.webp");
    }
  }
}

@media (max-width: $tablet-width) {
  .about-company {
    padding-top: 4.4%;
    padding-left: 5%;
    padding-bottom: 20%;
    background-image: none;

    h2 {
      margin-bottom: 20px;
      font-size: 28px;
      line-height: 140.62%;
    }

    p {
      margin-bottom: 42px;
    }

    p:last-of-type {
      margin-bottom: 27px;
    }

    &::before {
      display: none;
    }
  }

  .webp .about-company,
  .no-webp .about-company {
    background-image: none;
  }
}
