.about-us {
  background-image: url("/img/advantage-background-desktop.jpg");
  background-position: 23% top;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/advantage-background-desktop@2x.jpg");
  }
}


@media (max-width: $desktop-width) {
  .about-us {
    background-image: url("/img/triangle-advantage-tablet.jpg");
    background-position: right -10px top 40.6%;
    background-size: 297px 590px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/triangle-advantage-tablet@2x.jpg");
    }
  }
}

@media (max-width: $tablet-width) {
  .about-us {
    background-image: url("/img/triangle-advantage-mobile.jpg");
    background-size: 175px 559px;
    background-position: right 63.2%;
  }
}
