.about-company {
  position: relative;
  padding-left: 180px;
  color: $description-font-color;
  z-index: 1;

  h2 {
    margin-top: 0;
    margin-bottom: 2%;
    font-family: $second-font;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
  }

  p {
    margin-top: 0;
    margin-bottom: 2%;
    padding-right: 1%;
  }

  p:nth-last-of-type(2) {
    margin-bottom: 3.7%;
  }

  p:last-of-type {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -3%;
    display: block;
    width: 317px;
    height: 320px;
    background-image: url("/img/date-desktop.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/date-desktop@2x.jpg");
    }
  }
}

@media (max-width: $desktop-width) {
  .about-company {
    padding-left: 186px;

    h2 {
      margin-bottom: 5%;
      font-size: 32px;
      line-height: 140.62%;
    }

    p {
      margin-bottom: 4%;
      padding-right: 1%;
    }

    p:nth-last-of-type(2) {
      display: none;
    }

    p:last-of-type {
      display: block;
      margin-bottom: 7.8%;
    }

    &::before {
      content: "";
      top: -1%;
      left: -2%;
      width: 362px;
      height: 352px;
      background-image: url("/img/date-tablet.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/date-tablet@2x.jpg");
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .about-company {
    padding-left: 2%;

    h2 {
      margin-bottom: 6.8%;
      font-size: 28px;
      line-height: 140.62%;
    }

    p {
      margin-bottom: 13%;
    }

    p:last-of-type {
      margin-bottom: 10.5%;
    }

    &::before {
      display: none;
    }
  }
}
