.address {
  font-style: normal;

  h3 {
    margin-bottom: 25px;
  }

  p {
    margin: 0;
  }

  *:not(h3):not(button) {
    opacity: 0.5;
  }
}

.address__container {
  display: flex;
  flex-direction: column;
}

@media (max-width: $tablet-width) {
  .address {
    position: relative;
    padding-top: 30px;
    padding-bottom: 26px;

    button {
      position: absolute;
      right: 17px;
      top: 25px;
    }

    h3 {
      margin-bottom: 0;
    }

    p {
      max-width: 80%;
    }
  }

  .address__container {
    padding-top: 30px;
  }
}
