.address {
  font-style: normal;

  h3 {
    margin-bottom: 25px;
  }

  p {
    margin: 0;
  }

  *:not(h3) {
    opacity: 0.5;
  }
}

.address__container {
  display: flex;
  flex-direction: column;
}

@media (max-width: $tablet-width) {
  .address {
    padding-top: 9%;

    *:not(h3) {
      opacity: 0.5;
    }

    h3,
    p,
    a {
      margin-left: 4%;
      margin-right: 4%;
    }

    h3 {
      margin-bottom: 10%;
    }

    p {
      max-width: 80%;
    }
  }
}
