.address {
  p {
    margin: 0;
  }
}

.address__container {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

@media (max-width: $desktop-width) {
  .address {
    h2 {
      padding-left: 4px;
    }
  }
}

@media (max-width: $tablet-width) {
  .address {
    position: relative;
    padding-top: 30px;
    padding-left: 12px;
    padding-bottom: 26px;

    button {
      position: absolute;
      right: 17px;
      top: 25px;
    }

    p {
      max-width: 80%;
    }

    h2 {
      margin: 0;
    }
  }

  .address__container {
    padding-top: 30px;
    padding-left: 2px;
  }
}
