.advantages {
  padding-top: 9.3%;
  padding-bottom: 4.3%;
  color: $description-font-color;
}

.advantages__list {
  @include list;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 2.8%;
    margin-bottom: 2.8%;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:last-of-type,
    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
  }
}

.advantages__item-icon {
  margin-bottom: 3%;
  fill: $main-color;
}

.advantages__item {
  width: 48.6%;
  min-height: 299px;
  border: 1px solid #ebebeb;
  border-left: 3px solid $main-color;
  padding-top: 3.1%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-left: 3.4%;
  background-color: $second-color;

  h3 {
    margin-top: 0;
    margin-bottom: 3.2%;
    font-family: $second-font;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: $main-color;
  }

  p {
    margin: 0;
  }

  &:hover {
    color: $second-color;
    background-color: $main-color;
    transition: $transition-time;
    cursor: pointer;

    h3 {
      color: $second-color;
    }

    svg {
      fill: $second-color;
    }
  }
}

@media (max-width: $desktop-width) {
  .advantages {
    padding-top: 7.4%;
    padding-bottom: 3.5%;
  }

  .advantages__list {
    li {
      margin-right: 4%;
      margin-bottom: 3.3%;
    }
  }

  .advantages__item {
    width: 48%;
    min-height: 235px;
    border-left-width: 2px;

    &:hover {
      background-color: $second-color;
      color: $description-font-color;

      h3 {
        color: $main-color;
      }

      svg {
        fill: $main-color;
      }
    }
  }

  .advantages__item-icon {
    margin-bottom: 1%;
  }
}

@media (max-width: $tablet-width) {
  .advantages__list {
    li {
      margin-right: 0;
      margin-bottom: 7%;

      &:nth-last-of-type(2) {
        margin-bottom: 7%;
      }
    }
  }

  .advantages {
    padding-top: 13%;
    padding-bottom: 7%;
  }

  .advantages__item {
    width: 96.1%;
    min-height: 244px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 7px;
    padding-bottom: 25px;

    h3 {
      padding-right: 2%;
      font-size: 20px;
      line-height: 140.62%;
    }
  }

  .advantages__item-icon {
    margin-bottom: 2.2%;
  }
}
