.ask-form {
  background-color: $main-color;
  background-image: url("img/ask-form-triangles.jpg");
  background-repeat: no-repeat;
  background-position: right top 90px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("img/ask-form-triangles@2x.jpg");
    background-size: 278px 524px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 9px;
    padding-right: 30px;
    font-family: $second-font;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
  }

  p {
    margin-top: 0;
    margin-bottom: 50px;
    padding-right: 255px;
  }

  label[for="ask-form__user-name"],
  label[for="ask-form__user-phone"] {
    width: 47.5%;
  }
}

.ask-form__form {
  width: 570px;
}

.ask-form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 89px;
  padding-bottom: 115px;
  padding-left: 195px;
  padding-right: 195px;
  background-image: url("img/ask-form-container-background.jpg");
  background-repeat: no-repeat;
  background-position: left 17px top;
  background-size: 42.6% 670px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("img/ask-form-container-background@2x.jpg");
  }
}

@media (max-width: $content-width) {
  .ask-form__container {
    padding-left: 12.6%;
    padding-right: 12.6%;
  }
}

@media (max-width: $desktop-width) {
  .ask-form__container {
    align-items: flex-start;
    padding-top: 10.5%;
    padding-right: 11.5%;
    padding-left: 11.5%;
    padding-bottom: 13%;
    background-image: none;
  }

  .ask-form {
    background-image: none;

    h2 {
      margin-bottom: 2.5%;
      padding-right: 0;
      font-size: 32px;
      line-height: 140.32%;
    }

    p {
      margin-bottom: 9.2%;
      padding-right: 0;
    }
  }

  .ask-form__form {
    width: 100%;
  }
}

@media (max-width: $tablet-width) {
  .ask-form__container {
    padding-top: 9.4%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
  }

  .ask-form {
    h2 {
      margin-bottom: 12px;
      font-size: 28px;
    }

    p {
      margin-bottom: 25px;
      padding-left: 0;
    }

    label[for="ask-form__user-name"],
    label[for="ask-form__user-phone"] {
      width: 100%;
    }
  }
}
