.ask-form {
  background-color: $main-color;
  background-image: url("/img/paper-airplane-desktop.png"), url("/img/triangle-form-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 26.5%, 33%;
  background-position: left 25% top 41.5%, left 14% top 48%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/paper-airplane-desktop@2x.png"), url("/img/triangle-form-desktop@2x.jpg");
  }

  h2 {
    margin-top: 0;
    margin-bottom: 1.5%;
    font-family: $second-font;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
  }

  p {
    margin-top: 0;
    margin-bottom: 9.1%;
    padding-left: 0.7%;
  }
}

.ask-form__container {
  padding-top: 4.7%;
  padding-left: 37.3%;
  padding-bottom: 3.7%;
}

@media (max-width: $desktop-width) {
  .ask-form__container {
    padding-top: 10.5%;
    padding-right: 7.6%;
    padding-left: 8.5%;
    padding-bottom: 7.7%;
  }

  .ask-form {
    background-image: none;

    h2 {
      margin-bottom: 2.5%;
      font-size: 32px;
      line-height: 140.32%;
    }

    p {
      margin-bottom: 9.2%;
    }
  }
}

@media (max-width: $tablet-width) {
  .ask-form__container {
    padding-top: 9.4%;
    padding-left: 1.8%;
    padding-right: 1.1%;
    padding-bottom: 10%;
  }

  .ask-form {
    h2 {
      margin-bottom: 5%;
      font-size: 28px;
    }
  }
}
