.company-description {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.company-description__wrapper {
  max-width: 50.1%;
  padding-top: 5.3%;
}

.company-description__title {
  margin: 0;
  margin-bottom: 3.4%;
  font-family: $second-font;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.company-description__description {
  position: relative;
  margin: 0;
  margin-bottom: 6%;
  padding-left: 13%;
  font-size: 22px;
  line-height: 34px;
  z-index: 3;

  &::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    display: block;
    width: 9.2%;
    height: 1%;
    background-color: $second-color;
  }
}

.company-description__btn {
  position: relative;
  margin-left: 13%;
  z-index: 3;

  &--mobile {
    display: none;
  }
}

.company-description__production-img {
  position: absolute;
  top: 5.5%;
  right: -5.5%;
  width: 50%;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 1%;
    left: 1%;
    width: 618px;
    height: 493px;
    background-image: url("/img/triangle-header-desktop.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/triangle-header-desktop@2x.jpg");
    }
  }
}

@media (max-width: $desktop-width) {
  .company-description__wrapper {
    max-width: 85%;
    padding-top: 4.3%;
  }

  .company-description {
    padding-left: 9%;
  }

  .company-description__title {
    max-width: 60%;
    margin-bottom: 5%;
    font-size: 60px;
    line-height: 70px;
  }

  .company-description__description {
    max-width: 78%;
    padding-left: 9%;
    margin-bottom: 10%;
    font-size: 18px;
    line-height: 156.8%;

    &::before {
      top: 30%;
      left: 1%;
      width: 7%;
      height: 3.5%;
    }
  }

  .company-description__btn {
    margin-left: 9%;
  }

  .company-description__production-img {
    top: -14%;
    right: -31.9%;
    width: 65%;
    z-index: 1;

    &::before {
      top: -9%;
      left: -12%;
      width: 320px;
      height: 389px;
      background-image: url("/img/triangle-header-tablet.jpg");
      z-index: -1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/triangle-header-tablet@2x.jpg");
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .company-description__wrapper {
    max-width: 95.5%;
  }

  .company-description {
    padding-top: 66.7%;
    padding-left: 0;
  }

  .company-description__title {
    position: relative;
    margin-bottom: 10%;
    padding-left: 1.5%;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.07em;
    z-index: 3;
  }

  .company-description__description {
    max-width: 100%;
    padding-left: 20%;
    margin-bottom: 15%;
    font-size: 16px;

    &::before {
      top: 20%;
      left: 3%;
      width: 11.5%;
      height: 2%;
    }
  }

  .company-description__btn {
    width: 100%;
    margin-left: 3.5%;

    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }

  .company-description__production-img {
    top: 4%;
    left: 5%;
    width: 100%;
    z-index: 1;

    &::before {
      top: -10.8%;
      left: unset;
      right: 1%;
      width: 160px;
      height: 369px;
      background-image: url("/img/triangle-header-mobile.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/triangle-header-mobile@2x.jpg");
      }
    }
  }
}
