.contacts {
  @include list;

  display: flex;
  justify-content: space-between;
  min-width: 47%;
  max-width: 50%;
  padding-top: 0.7%;
  line-height: 18px;
}

.contacts__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-right: 5%;
}

.contacts__link {
  @include link;
  margin-bottom: 3%;
  margin-right: 3%;
  flex-shrink: 0;
}

.contacts__link-icon {
  margin-right: 8px;
  vertical-align: middle;
}

.contacts__request-call-btn {
  align-self: baseline;
  flex-shrink: 0;
  margin-bottom: 2%;
  text-decoration: none;
}

@media (max-width: $desktop-width) {
  .contacts {
    max-width: 60%;
    min-width: 11.3%;
    flex-wrap: nowrap;
    padding-top: 0;
  }

  .contacts__link {
    margin-right: 35%;

    span {
      @include visually-hidden;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .contacts__link-icon {
    margin-right: 0;

    &--mail {
      width: 25.33px;
      height: 18.67px;
    }

    &--phone {
      width: 22.54px;
      height: 22.61px;
    }
  }

  .contacts__request-call-btn {
    @include visually-hidden;
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    min-width: 25%;
  }
}
