.feedback-form {
  position: relative;
  width: 25.5%;
  padding: 1.5% 2.1% 2.1% 2.1%;
  background-color: $main-color;

  h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: $second-font;
    font-weight: normal;
    font-size: 28px;
    line-height: 140.62%;
  }

  p {
    margin-top: 0;
    margin-bottom: 32px;
    padding-right: 1.5%;
    font-size: 16px;
    line-height: 22px;
  }
}

.feedback-form__form {
  input[type=text],
  input[type=tel],
  textarea {
    width: 100%;
  }

  label:last-of-type {
    width: 95%;
    min-height: 50px;
    margin-bottom: 0;
    order: 1;
  }

  button[type=submit] {
    width: 100%;
  }

  button[type=reset] {
    width: 17px;
    height: 17px;
    border: none;
    background-color: transparent;

    &:hover {
      opacity: $hover-state-opacity;
      stroke: red;
      transition: $transition-time;
    }
  }
}

.feedback-form__close-btn {
  position: absolute;
  top: -135px;
  right: -20px;
}
