.goods-and-services {
  background-color: $second-background-color;
}

.goods-and-services__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 86px;
  padding-bottom: 82px;
  padding-left: $desktop-flatten-padding;
  padding-right: $desktop-flatten-padding;
  font-family: $second-font;
  color: $second-color;

  h2 {
    margin-top: 0;
    margin-bottom: 53px;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
  }
}

.goods-and-services__item {
  @include link;
  position: relative;
  display: block;
  width: 372px;
  min-height: 620px;
  margin-right: 30px;
  margin-bottom: 47px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 152px;
  padding-left: 47px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  background-color: #404F57;
  z-index: 0;

  &:nth-of-type(3n) {
    margin-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 63px;
    height: 63px;
    background-color: $main-color;
    background-image: url("img/arrow-btn-white.svg");
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: right 45% center;
  }

  &:hover {
    &::before {
      opacity: $hover-state-opacity;
      transition: $transition-time;
    }

    &::after {
      transition: $transition-time;
      background-color: $second-color;
      background-image: url("img/arrow-btn-blue.svg");
      background-size: 12px;
    }
  }

  &:active {
    opacity: $active-state-opacity;
    transition: $transition-time;
  }

  &--manufacturing {
    &::before {
      background-image: url("img/manufacturing-desktop.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("img/manufacturing-desktop@2x.jpg");
      }
    }
  }

  &--mounting {
    &::before {
      background-image: url("img/mounting-desktop.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("img/mounting-desktop@2x.jpg");
      }
    }
  }

  &--components {
    &::before {
      background-image: url("img/components-desktop.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("img/components-desktop@2x.jpg");
      }
    }
  }
}

@media (max-width: $content-width) {
  .goods-and-services__container {
    padding-left: $desktop-percent-flatten-padding;
    padding-right: $desktop-percent-flatten-padding;
  }

  .goods-and-services__item {
    width: 31.6%;
    margin-right: 2.6%;
    padding-top: 2.6%;
    padding-bottom: 4.3%;
    padding-right: 13.3%;
    padding-left: 4.1%;
  }
}

@media (max-width: $desktop-width) {
  .goods-and-services__container {
    flex-direction: column;
    padding-top: 6.4%;
    padding-bottom: 4.7%;
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;

    h2 {
      margin-bottom: 7.1%;
      padding-right: 15%;
      font-size: 32px;
      line-height: 140.62%;
    }
  }

  .goods-and-services__item {
    width: 100%;
    min-height: 255px;
    margin-bottom: 6.4%;
    padding-top: 5.7%;
    padding-bottom: 5.7%;
    padding-right: 70%;
    padding-left: 6%;

    &:hover {
      &::before {
        opacity: 0.2;
      }

      &::after {
        background-color: $main-color;
        background-image: url("img/arrow-btn-white.svg");
        background-size: 8px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .goods-and-services__container {
    padding-top: 15.2%;
    padding-bottom: 12%;

    h2 {
      margin-bottom: 13.2%;
      padding-right: 1%;
      padding-left: 5%;
      font-size: 28px;
    }
  }

  .goods-and-services__item {
    margin-bottom: 10.4%;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    padding-right: 30%;
    padding-left: 14%;
  }
}
