.header-container {
  background-color: $second-background-color;
  background-image: url("../img/header-background-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-background-desktop@2x.png");
  }
}
