.page-footer {
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  background-color: #fafafa;

  h3 {
    margin: 0;
    font-family: $second-font;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  a {
    @include link;
    color: #1b2d37;

    &:hover {
      opacity: 1;
      color: $main-color;
    }

    &:active {
      opacity: $active-state-opacity;
    }
  }
}

.page-footer__container {
  display: flex;
  border-bottom: 1px solid #dcdddc;
}

.page-footer__content-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 216px;
  margin-left: 13%;
  margin-right: 11%;
  padding-top: 65px;
  padding-bottom: 40px;
}

.page-footer__middle {
  flex-grow: 1;
  margin-right: 13.1%;
  padding-top: 65px;
  padding-bottom: 40px;

  & .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-footer__bottom {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  * {
    opacity: 0.5;
  }
}

.page-footer__site-nav {
  min-width: 50%;
  margin-right: 16%;
  flex-grow: 1;
}

.page-footer__address {
  flex-grow: 1;
}

.page-footer__logo {
  margin-bottom: 21%;
}

.page-footer__copyright-date {
  &--mobile {
    display: none;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    opacity: 0.5;
  }

  &--desktop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 32%;
    margin-right: 10.5%;

    span:first-of-type {
      margin-right: 2%;
    }
  }
}

.page-footer__dev-by {
  margin-left: auto;
}

@media (max-width: $desktop-width) {
  .page-footer__top,
  .page-footer__middle {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #dcdddc;
  }

  .page-footer__middle,
  .page-footer__bottom {
    a:hover {
      color: #1b2d37;
      opacity: 0.5;
    }
  }

  .page-footer__site-nav {
    min-width: unset;
  }

  .page-footer__container {
    flex-direction: column;
    border: none;
  }

  .page-footer__top {
    padding-top: 20px;
    padding-bottom: 16px;

    & .page-footer__content-wrapper {
      margin: 0 3%;
      justify-content: space-between;
    }
  }

  .page-footer__copyright-date {
    &--mobile {
      display: inline;
      vertical-align: baseline;
      text-align: middle;
    }

    &--desktop {
      display: none;
    }
  }

  .page-footer__middle {
    padding-top: 37px;
    padding-bottom: 36px;

    & .page-footer__content-wrapper {
      margin: 0 3.2%;
    }
  }

  .page-footer__logo {
    margin-bottom: 0;
    margin-right: 11px;
  }

  .page-footer__social-list {
    justify-content: space-between;
  }

  .page-footer__bottom {
    margin: 0 3.5%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: $tablet-width) {
  .page-footer__top {
    padding-top: 45px;
    padding-bottom: 47px;

    p {
      width: 100%;
      text-align: center;
    }

    & .page-footer__content-wrapper {
      justify-content: center;
    }
  }

  .page-footer__site-nav,
  .page-footer__address {
    margin: 0;
    padding: 0 4%;
  }

  .page-footer__logo {
    margin-bottom: 20px;
  }

  .page-footer__copyright-date {
    &--mobile {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  .page-footer__middle {
    padding-top: 0;
    padding-bottom: 0;

    & .page-footer__content-wrapper {
      flex-direction: column;
      margin: 0;
    }
  }

  .page-footer__bottom {
    flex-direction: column;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
  }

  .page-footer__confidentiality-link {
    margin-bottom: 7.9%;
  }

  .page-footer__dev-by {
    margin-left: 0;
  }
}
