.page-footer {
  font-size: 15px;
  line-height: 25px;
  color: rgba(27, 45, 55, 0.5);
  background-color: #fafafa;

  h2 {
    margin-top: 0;
    margin-bottom: 26px;
    font-family: $second-font;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(27, 45, 55, 1);
  }

  a {
    @include link;
    color: rgba(27, 45, 55, 0.5);

    &:hover {
      opacity: $hover-state-opacity;
      color: $main-color;
    }

    &:active {
      opacity: $active-state-opacity;
    }
  }
}

.page-footer__container {
  display: flex;
  align-items: flex-start;
  padding-top: 65px;
  padding-bottom: 50px;
  padding-left: $desktop-fixed-padding;
  padding-right: $desktop-fixed-padding;
}

.page-footer__top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 0;
  padding-right: 20px;
}

.page-footer__bottom {
  border-top: 1px solid #dcdddc;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.page-footer__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: $desktop-fixed-padding;
  padding-right: $desktop-fixed-padding;
}

.page-footer__logo {
  margin-bottom: 45px;
}

.page-footer__copyright-date {
  display: flex;
  justify-content: space-between;
  min-width: 32%;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.page-footer__site-nav {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $content-width) {
  .page-footer__container {
    padding-left: $desktop-percent-padding;
    padding-right: $desktop-percent-padding;
  }

  .page-footer__bottom-wrapper {
    padding-left: $desktop-percent-padding;
    padding-right: $desktop-percent-padding;
  }
}

@media (max-width: $desktop-width) {
  .page-footer__container {
    flex-wrap: wrap;
    padding: 0;
    padding-bottom: 36px;
    border-bottom: 1px solid #dcdddc;
  }

  .page-footer__site-nav {
    margin-left: 3%;
    margin-right: auto;
    padding-top: 37px;
  }

  .page-footer__address {
    padding-top: 37px;
    margin-right: 5%;
  }

  .page-footer__top {
    width: 100%;
    padding: 0 3%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dcdddc;
  }

  .page-footer__copyright-date {
    &--mobile {
      display: inline;
      vertical-align: baseline;
      text-align: middle;
    }

    &--desktop {
      display: none;
    }
  }

  .page-footer__logo {
    margin-bottom: 0;
    margin-right: 11px;
  }

  .page-footer__social-list {
    justify-content: space-between;
  }

  .page-footer__bottom {
    margin: 0 3.5%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: none;
  }

  .page-footer__bottom-wrapper {
    padding: 0;
  }

  .page-footer__dev-by {
    padding-right: 5px;
  }
}

@media (max-width: $tablet-width) {
  .page-footer__container {
    padding-bottom: 0;
  }

  .page-footer__top {
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 47px;

    p {
      width: 100%;
      text-align: center;
    }
  }

  .page-footer__site-nav {
    width: 100%;
    margin: 0;
  }

  .page-footer__address {
    width: 100%;
    margin: 0;
    padding-left: 12px;
  }

  .page-footer__logo {
    margin-bottom: 20px;
  }

  .page-footer__copyright-date {
    &--mobile {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  .page-footer__bottom {
    flex-direction: column;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
  }

  .page-footer__confidentiality-link {
    margin-bottom: 7.9%;
  }

  .page-footer__dev-by {
    margin-left: 0;
  }

  .page-footer__bottom-wrapper {
    flex-direction: column;
  }
}
