.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 126px;
  padding-left: $desktop-fixed-padding;
  padding-right: $desktop-fixed-padding;
  background-image: url("img/circuit-desktop.png"), url("img/promo-mask-desktop.png");
  background-repeat: no-repeat;
  background-position: right top 140px, right -180px top -120px;
  background-size: 45% 515px, 1920px 881px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("img/circuit-desktop@2x.png"), url("img/promo-mask-desktop@2x.png");
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  width: 761px;
  font-family: $second-font;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.promo__description {
  position: relative;
  width: 710px;
  margin: 0;
  margin-bottom: 39px;
  padding-left: 95px;
  font-size: 22px;
  line-height: 34px;
  z-index: 3;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
    width: 66px;
    height: 2px;
    background-color: $second-color;
  }
}

.promo__btn {
  margin-left: 93px;
  margin-bottom: 130px;
  align-self: baseline;
  z-index: 3;
}

.promo__scroll-btn {
  @include link;
  align-self: flex-start;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  letter-spacing: normal;
  opacity: 0.5;
  transform: rotate(-90deg) translateY(-40px);

  &:hover {
    opacity: 1;
    transition: $transition-time;
  }
}

@media (max-width: $content-width) {
  .promo {
    padding-left: $desktop-percent-padding;
    padding-right: $desktop-percent-padding;
  }
}

@media (max-width: $desktop-width) {
  .promo {
    padding-top: 110px;
    padding-left: 12%;
    padding-bottom: 165px;
    background-image: url("img/circuit-tablet.png"), url("img/promo-mask-tablet.png");
    background-position: right top 35px, right -2px top -78px;
    background-size: 260px 340px, 770px 563px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("img/circuit-tablet@2x.png"), url("img/promo-mask-tablet@2x.png");
    }
  }

  .promo__title {
    max-width: 60%;
    margin-bottom: 4.9%;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.07em;
  }

  .promo__description {
    width: 70%;
    padding-left: 7.7%;
    margin-bottom: 57px;
    font-size: 18px;
    line-height: 156.8%;

    &::before {
      top: 28%;
      width: 7.5%;
    }
  }

  .promo__btn {
    margin-left: 7.7%;
    margin-bottom: 0;
  }

  .promo__circuit-img {
    top: -2%;
    right: -32.4%;
    width: 65%;
    z-index: 1;
  }

  .promo__scroll-btn {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .promo {
    padding-top: 226px;
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
    padding-bottom: 57px;

    background-image: url("img/circuit-mobile.png"), url("img/promo-mask-mobile.png");
    background-position: right top 35px, right top -60px;
    background-size: auto;
  }

  .promo__title {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.07em;
    z-index: 3;
  }

  .promo__description {
    width: 95%;
    padding-left: 17%;
    margin-bottom: 43px;
    font-size: 16px;

    &::before {
      top: 20%;
      width: 10.5%;
    }
  }

  .promo__btn {
    width: 100%;
    margin-left: 0;
    margin-bottom: 5%;
  }

  .promo__circuit-img {
    top: 3%;
    left: 5%;
    width: 100%;
    z-index: 1;
  }
}
