.site-nav {
  display: flex;
  flex-direction: column;
  width: 450px;
  justify-items: baseline;

  h2 {
    margin-bottom: 25px;
  }

  a {
    letter-spacing: 0.03em;
  }
}

.site-nav__links-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 110px;

  a {
    margin-right: 70px;
    letter-spacing: normal;
  }
}

@media (max-width: $content-width) {
  .page-footer__site-nav {
    width: 31.9%;
  }

  .site-nav__links-container {
    a {
      margin-right: 15.6%;
    }
  }
}

@media (max-width: $desktop-width) {
  .site-nav {
    a {
      letter-spacing: normal;
    }

    h2 {
      padding-left: 4px;
    }
  }

  .site-nav__links-container {
    flex-direction: column;
    height: 100%;

    a {
      margin-right: 0;
    }
  }
}

@media (max-width: $tablet-width) {
  .site-nav {
    width: 100%;
    position: relative;
    justify-content: flex-start;
    padding-top: 30px;
    padding-left: 12px;
    padding-bottom: 26px;
    border-bottom: 1px solid #dcdddc;

    button {
      position: absolute;
      right: 17px;
      top: 25px;
    }

    h2 {
      margin: 0;
      padding-left: 0;
    }
  }

  .site-nav__links-container {
    margin: 0;
    padding-top: 30px;
    padding-left: 2px;
  }
}
