.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-list__item {
  margin-right: 16px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social-list__link-icon {
  fill: #cdcdcd;

  &:hover,
  &:focus {
    fill: $main-color;
  }

  &:active {
    opacity: $active-state-opacity;
  }
}

@media (max-width: $desktop-width) {
  .social-list {
    justify-content: flex-start;
    min-width: 110px;
    padding-top: 10px;
    flex-wrap: wrap;
  }

  .social-list__item {
    margin-right: 13%;
  }

  .social-list__link-icon {
    &:hover {
      fill: #cdcdcd;
    }
  }
}


@media (max-width: $tablet-width) {
  .social-list {
    margin-bottom: 0;
    padding-top: 0;
  }
}
