$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$mobile-padding: 15px;
$tablet-padding: 25px;
$desktop-padding: 40px;

$main-font: "PT Mono", "Arial", sans-serif;
$second-font: "Roboto Condensed", "Arial", sans-serif;
$main-font-color: #FFFFFF;
$description-font-color: #666666;

$main-color: #00B2FF;
$second-color: #1B2D37;
