$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$tablet-padding: 0;
$desktop-padding: 6.3%;

$main-font: "PT Mono", "Arial", sans-serif;
$second-font: "Roboto Condensed", "Arial", sans-serif;
$description-font-color: #666666;

$main-color: #00b2ff;
$second-color: #ffffff;
$second-background-color: #1b2d37;

$transition-time: 0.3s;
$active-state-opacity: 0.4;
$hover-state-opacity: 0.7;
