$content-width: 1560px;

$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$desktop-fixed-padding: 75px;
$desktop-flatten-padding: 192px;
$desktop-percent-padding: 4.8%;
$desktop-percent-flatten-padding: 12.3%;
$tablet-padding: 3.3%;
$mobile-padding: 5.2%;

$main-font: "PT Mono", "Arial", sans-serif;
$second-font: "Roboto Condensed", "Arial", sans-serif;
$description-font-color: #666666;

$main-color: #00b2ff;
$second-color: #ffffff;
$second-background-color: #1b2d37;

$transition-time: 0.3s;
$active-state-opacity: 0.4;
$hover-state-opacity: 0.7;
