.btn {
  padding: 14px 27px;
  border-radius: 5px;

  font-family: $second-font;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;

  &:active {
    opacity: $active-state-opacity;
    transition: $transition-time;
  }

  &--transparent-main-color,
  &--transparent-second-color {
    border: 1px;
    border-style: solid;
    font-size: 14px;
    line-height: 16px;
    background-color: transparent;

    &:hover {
      background-color: $main-color;
      transition: $transition-time;
    }
  }

  &--transparent-main-color {
    padding: 14px 50px;
    border-color: $main-color;
    color: $main-color;

    &:hover {
      color: $second-color;
    }
  }

  &--transparent-second-color {
    border-color: $second-color;
    color: $second-color;

    &:hover {
      border-color: $main-color;
    }
  }

  &--color {
    padding: 20px 45px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    color: $second-color;
    background-color: $main-color;

    &:hover {
      border: 1px solid $second-color;
      background-color: transparent;
      transition: $transition-time;
    }
  }
}

@media (max-width: $desktop-width) {
  .btn {
    &:hover {
      transition: none;
    }

    &--transparent-main-color {
      &:hover {
        border-color: $main-color;
        color: $main-color;
        background-color: transparent;
      }
    }

    &--transparent-second-color {
      &:hover {
        border-color: $second-color;
        color: $second-color;
        background-color: transparent;
      }
    }

    &--color {
      padding: 17px 31px;

      &:hover {
        border: none;
        background-color: $main-color;
      }
    }

    &--scroll {
      &:hover {
        opacity: 1;
      }
    }
  }
}
